:root {
  --bg-color: #F7F4F3;
  --second-color: #82716e;
  --third-color: #dfdfdf;
  --txt-color: #43203A;
}


.banner {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bg-color);
    font-size: 35px;
    border: 2px double var(--bg-color);
    text-align: center;
    background-image: url('clientbanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px var(--txt-color);
    height: 500px;
    padding: 10em inherit;
  }

  .title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
    size: 150px;
    text-align: center;
    text-shadow: 5px 5px black;
  }

  .space {
    padding: 10em inherit;
  }

  .intro {
    padding: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 35px;
    color: var(--txt-color);
  }

  .descr {
    width: 800px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .alice {
    padding: 20px;
    margin-left: 30px;
    margin-right: auto;
  }

  .divider {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    /*border: 2px double black;*/
    text-align: center;
    background-color: var(--third-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
    height: 200px;
    padding: 10em inherit;
  }

  .dividerTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--second-color);
    font-size: 70px;
    size: 200px;
    text-align: center;
    text-shadow: 5px 5px var(--bg-color);
  }

  .fullPage{
    background-color: var(--bg-color);
  }

  .groupPr{
    background-color: var(--txt-color);
    font-size: 50px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
    height: 300px;
    padding: 10em inherit;
    /*border: 20px double var(--second-color);*/
    border-radius: 25px;

    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
  }

  .groupPr:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*margin: 8px 10px 12px;*/
  }

  .gradient-button-3 {background-image: linear-gradient(to right, var(--second-color) 0%, var(--bg-color) 15%, var(--second-color) 100%)}
  .gradient-button-3:hover { background-position: right center; }

  .groupPrTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--bg-color);
    font-size: 50px;
    size: 500px;
    text-align: center;
    text-shadow: 5px 5px black;
  }

  .bgSecondary{
    background-color: var(--third-color);
  }

  .txtColor{
    color: var(--txt-color);
  }