.banner {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 35px;
    border: 2px double white;
    text-align: center;
    background-image: url('./clientbanner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
    height: 500px;
    padding: 10em inherit;
  }
  
  .title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
    size: 150px;
    text-align: center;
    text-shadow: 5px 5px black;
  }

  .space {
    padding: 10em inherit;
  }

  .intro {
    padding: 5em;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
  }